{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}"/>
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png"> -->
    {% block tittle_block %}

    <title> DevPanda Resting Place</title>
    {% endblock %}
    
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     
    <!-- chartist CSS -->
      
    <link href="/static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
   
  <!-- chartist CSS -->
    
    <link href="/static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
   
  <!-- chartist CSS -->
    
    <link href="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
   
  <!-- chartist CSS -->
    
    <link href="/static/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
   
  <!-- chartist CSS -->
    
    <!-- Vector CSS -->
    <link href="/static/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
   
  <!-- chartist CSS -->
    
    <!-- Custom CSS -->
    <link href="/static/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
   
  <!-- chartist CSS -->
    
    <link href="/static/css/style.css" rel="stylesheet">
   
  <!-- chartist CSS -->
    
    <link href="{%static "css/custom.css" %}" rel="stylesheet">
   
  <!-- chartist CSS -->

    <link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
    


    



    {% block style_block %}{% endblock %}
    <!-- You can change the theme colors from here -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border mini-sidebar">
<style>
.toast-text {
  font-size: 11px;
}
  

.mini-sidebar .page-wrapper {
    margin-left: -29px !important;
}
.mini-sidebar .footer {
    left: 0px !important;
}
.light-logo{
  width:85%;
}
  
  </style>
   <div class="preloader">
       <svg class="circular" viewBox="25 25 50 50">
           <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
   </div>
   <div id="main-wrapper">
       <header class="topbar">
           <nav class="navbar top-navbar navbar-expand-md navbar-light">
               <!-- ============================================================== -->
               <!-- Logo -->
               <!-- ============================================================== -->
               <div class="navbar-header" style="line-height:0px;">
                   <a class="navbar-brand" href="{%url 'data_process:home' %}">
                       <!-- Logo icon -->
                       <b id="test">
                           <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                           <!-- Dark Logo icon -->
                           <img src="/static/img/minilogo.png" alt="homepage" class="dark-logo" id="logo-dark" style="display:none!important;"/>
                           <!-- Light Logo icon -->
                           <img src="/static/img/minilogo.png" alt="homepage" class="light-logo" id = "logo-light"/>
                       </b>
                       <!--End Logo icon -->
                       <!-- Logo text --><span>
                        <!-- dark Logo text -->
                        <!-- <img src="/static/assets/images/tss-text.png" alt="homepage" class="dark-logo" /> -->
                        <div  id = "logo-text-dark" class="dark-logo">
                         

                        </div>

                        <!-- Light Logo text -->
                        <!-- <img src="/static/assets/images/TIOTITEST.gif" class="light-logo" alt="homepage" id = "logo-text"/> -->
                        <div  id = "logo-text" class="light-logo">
                          

                        </div>
                      </span>
                       </a>
               </div>
                  <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item"> 
                            
                          <img src="/static/img/devpandalogo.png" alt="" style="position: absolute;width: 13%;left: 50%;top: 50%;transform: translate(-50%, -50%);">   
                          <!-- <img src="/static/img/devpandalogo.png" alt="" style="position: absolute;width: 15%;left: 50%;top: 50%;transform: translate(-50%, -50%);">    -->
                        
                        </li>
                      </ul>
                      <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i class="mdi mdi-power-plug" id ="connected" style="display:none;color: #55ce63;font-size: 22px;"></i>
                             <i class="mdi mdi-power-plug-off" id ="disconnected" style="display:none;color:red;font-size: 22px;"></i>

                             <!-- <div class="notify"> <span class="heartbit"></span> <span class="point"></span></div> -->
                           </a>

                       </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>{{request.session.asu_count}}</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
       

        



      <div class="page-wrapper">
          <div class="container-fluid">
             
              {% block body_block %}
              {% endblock %}
              <!-- <div class=""> 
                  <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
              </div> -->
              <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
      <!-- <div id="chat-items"></div> -->
      <footer class="footer topbar"style="height:70px; z-index: 9;bottom:0!important;"> 
          
                
         
        </footer>

    
      <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
   

    
        <script src="/static/assets/plugins/jquery/jquery.cookie.min.js"></script>
   

    
    <script src="/static/assets/plugins/popper/popper.min.js"></script>
   

    
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
   

    
    <script src="/static/js/sidebarmenu.js"></script>
   

    
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
   

    
    <!-- <script src="/static/js/custom.js"></script> -->
    <script src="/static/js/custom.min.js"></script>
   
    
      <script src="/static/js/jquery.slimscroll.js"></script>
     
    
    <!-- <script src="/static/js/dashboard3.js"></script> -->
   


    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>



    <script src="/static/assets/plugins/jquery/jquery.cookie.min.js" charset="utf-8"></script>
      

    <script type="text/javascript">
    var set = function () {
        
        var width = (window.innerWidth > 0) ? window.innerWidth : this.screen.width;
        var topOffset = 70;
        // if (width < 1170) {
            $("body").addClass("mini-sidebar");
            $('.navbar-brand span').hide();
            $(".scroll-sidebar, .slimScrollDiv").css("overflow-x", "visible").parent().css("overflow", "visible");
            $(".sidebartoggler i").addClass("ti-menu");
            $('#logo-light').show();
        // }
        // else {
        //     $("body").removeClass("mini-sidebar");
        //     $('.navbar-brand span').show();
        //     $(".sidebartoggler i").removeClass("ti-menu");
        // }

        var height = ((window.innerHeight > 0) ? window.innerHeight : this.screen.height) - 1;
        height = height - topOffset;
        if (height < 1) height = 1;
        if (height > topOffset) {
            $(".page-wrapper").css("min-height", (height) + "px");
        }

};
          $(".sidebartoggler ").click(function(){
            if(document.getElementById('lftside').style.overflowX == "visible"){
                  $('#logo-light').hide();
                  $('#test').hide();
                  // toastr["warning"]("Hellooooooooooooo")
                 
                }
            else{
               $('#logo-light').show();
               $('#test').show();
              }

          });
          $(document).ready(function() {
            
$(window).ready(set);
$(window).on("resize", set);
            // $('body').addClass('mini-sidebar');
          })
            if($(window).width()== 1166 || $(window).width() < 1166){
              $('#logo-light').show();
            }else if($(window).width() > 1166){
              $('#logo-light').hide();
            }

    </script>
  
    <script type="text/javascript">
    // jQuery.removeCookie('googtrans');
// jQuery.removeCookie('googtrans', { domain: '.baberich.de' });
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({
            pageLanguage: 'en',
            // includedLanguages:'en, hi',
            layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT,
            autoDisplay: false
          }, 'google_translate_element');
        }

    	// function triggerHtmlEvent(element, eventName) {
    	//   var event;
    	//   if (document.createEvent) {
    	// 	event = document.createEvent('HTMLEvents');
    	// 	event.initEvent(eventName, true, true);
    	// 	element.dispatchEvent(event);
    	//   } else {
    	// 	event = document.createEventObject();
    	// 	event.eventType = eventName;
    	// 	element.fireEvent('on' + event.eventType, event);
    	//   }
    	// }

    	jQuery('.lang-select').click(function() {
    	  var theLang = jQuery(this).attr('data-lang');
    	  jQuery('.goog-te-combo').val(theLang);
        // event.preventDefault();
        // window.location  = location.href.replace(location.hash,"");
    	  //alert(jQuery(this).attr('href'));
    	  // window.location = jQuery(this).attr('href');
    	  location.reload();

    	});

      </script>






   
      <!-- <script> src="/static/js/base.js"</script> -->
    
    {% block script_block %}
    {% endblock %}

</body>

</html>
