{% extends "base.html"%} {% block style_block %}
<link rel="stylesheet" href="/static/assets/plugins/datatables/jquery.dataTables.min.css"> {% comment %}
<link rel="stylesheet" href="static/vendor/DataTables/Responsive-2.2.2/css/responsive.dataTables.min.css"> {% endcomment %} {% endblock style_block %} {% block body_block %}

<br>

<div class="row">
    <div class="card col-12">
        <h2 class="text-center">Hello , Welcome to ABC Supermarket Chain</h2>
        <h4 class="text-center">Address: Plot No-58, Udyog Vihar, Phase 2, Gurgaon</h4>
    </div>

    <div class="card col-12">
        <div class="row">
            <div class="col-6" style="border-right: 1px solid;min-height:400px">
                <h2 class=" text-center ">Scan or Add the Product Code Here</h2>
                <div class="col-lg-12">
                    <div class="input-group">
                        <select id="scan" class="form-control">
                            <option >A</option>
                            <option >B</option>
                            <option >C</option>
                            <option >D</option>
                        </select>
                        <div class="input-group-append">
                            <input id="add" class="btn btn-success" type="submit" value="ADD">

                        </div>
                    </div>
                    <div id="cart_item">
                        <table class="table table-bordered" style="margin-top:20px;margin-bottom:0">
                            <tbody>
                                <tr>
                                    <th width="66%">Prduct Code</th>
                                    <th>Price</th>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="66%">Total Amount</th>
                                <th id="total_price"></th>
                            </tr>
                        </tbody>

                    </table>

                    <input id="calc" class="btn btn-success col-12" type="submit" value="APPLY DISCOUNT" style="margin-bottom: 20px">
                </div>





            </div>

            <div id="cart_print" class="col-6">
                <h2 class="text-center ">Review your Cart</h2>
                <div id="review_cart">

                </div>
                <table class="table table-bordered discount" style="display:none; margin-bottom:0">
                    <tbody>
                        <tr>
                            <th width="66%">Discount Amount</th>
                            <th id="discount"></th>
                        </tr>
                        <tr>
                            <th width="66%">Total Amount After Discount</th>
                            <th id="discounted_price"></th>
                        </tr>
                    </tbody>

                </table>
                <button id="print" class="btn btn-success col-12" type="button" onclick="printDiv()" style="margin-bottom:20px;display:none;">PRINT INVOICE</button>

            </div>
        </div>
    </div>



</div>








{% endblock %} {% block script_block %}

<script src="/static/assets/plugins/select2/dist/js/select2.full.min.js " type="text/javascript "></script>
<script src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js " type="text/javascript "></script>
<script src="/static/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js "></script>
<script src="/static/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js " type="text/javascript "></script>
<script src="/static/assets/plugins/dff/dff.js " type="text/javascript "></script>
<script type="text/javascript " src="/static/assets/plugins/multiselect/js/jquery.multi-select.js "></script>
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js "></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.js "></script>
{% csrf_token %}
<script>
    var total_price = 0;
    var discounted_price = 0;
    $("#add").click(function() {
        var product_code = $("#scan").val();


        $.ajax({
            type: 'POST',
            url: '/checkout/',
            data: {
                item_code: product_code,
            },
            success: function(data) {
                console.log(product_code);
                console.log(data.item_cart)
                html = "<div>" + data.item_cart.price + "</div>"
                $("#cart_item table").append([
                    '<tr>',
                    '<td >' + product_code + '</td>',
                    '<td class="item_price">' + data.item_cart.price + '</td>',
                    '</tr>'
                ].join(''));
                $("#total_price").text(data.total_price);
                total_price = data.total_price



            }




        });


    });

    $("#calc").click(function() {
        $.ajax({
            type: 'POST',
            url: '/checkout/',
            data: {
                calc: 'calc'
            },
            success: function(data) {
                html = $("#cart_item").html()
                $("#review_cart").html(html);
                $(".discount").show();
                $("#print").show();
                $("#discounted_price").html(data.discounted_price);
                discounted_price = data.discounted_price
                $("#discount").html(total_price - discounted_price);
            }
        });
    });

    function printDiv() {

        var divToPrint = document.getElementById('cart_print');
        var divarea = $("#cart_print").html();

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divarea + '</body></html>');

        newWin.document.close();

        setTimeout(function() {
            newWin.close();
        }, 10);

    }
</script>









{% endblock script_block %}