{% extends "base.html"%} {% block style_block %}
<link rel="stylesheet" href="/static/assets/plugins/datatables/jquery.dataTables.min.css"> {% comment %}
<link rel="stylesheet" href="static/vendor/DataTables/Responsive-2.2.2/css/responsive.dataTables.min.css"> {% endcomment %} {% endblock style_block %} {% block body_block %}

<br>

<div class="row">

    <div class="card col-4">
        <div class="card-body">
            <form action="/inputs/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="projectname" value="">


        </div>
    </div>

    <div class="card col-4">
        <div class="card-body">
            <input type="text" name="projectname" value="">
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <input type="file" name="data_file">
            <input type="submit" value="Submit">
        </div>
        </form>
    </div>
</div>








{% endblock %} {% block script_block %}

<script src="/static/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="/static/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/plugins/dff/dff.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
{% endblock script_block %}