{% extends "base.html"%} {% block style_block %}
<link rel="stylesheet" href="/static/assets/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/assets/plugins/multiselect/css/multi-select.css">
<link href="/static/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="/static/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="/static/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="/static/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/assets/plugins/dropify/dist/css/dropify.min.css">

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #1e88e5!important;
        color: #fff !important;
    }
</style>
{% endblock style_block %} {% block body_block %}

<br>

<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h4 class="text-center">STEP-1</h4>
            <form action="/process_data/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 class="m-t-30">Select Independent Variables</h5>
                <select multiple data-style="form-control btn-secondary" class="selectpicker w-100" name="ivsel">
                    {% if header %} {% for h in header %}
                <option>{{h}}</option>
                {% endfor %} {% endif %}
            </select>

                <h5 class="m-t-30 m-b-10">Select Dependent variables</h5>
                <select class="selectpicker w-100" data-style="form-control btn-secondary" name="dvsel">
        {% if header %}
        {% for h in header  %}
            <option>{{h}}</option>
        {% endfor %}
        {% endif %}
        </select>
        </div>
    </div>



    <div class="card col-6">
        <div class="card-body">
            <h4 class="text-center">STEP-2</h4>
            <h5 class="m-t-20">Select the CSV File Again</h5>
            <input type="file" name="data_file">
            <input type="submit" value="SUBMIT">

            </form>
        </div>
    </div>
</div>


<div class="row">
    {% if header %}
    <div class="card col-lg-6 text-center">
        <table id="tblReportResultsDemographics" class="display" width="100%">
            <thead>
                <tr>
                    {% for h in header %}
                    <th>{{h}}</th>
                    {% endfor%}
                </tr>
            </thead>
        </table>


    </div>
    {% endif %}

    <div class="card col-lg-6 text-center" style="height:620%">
        {% if importance %}
        <div class="demo-container" style="height:620%;">
            <div id="container" style="height:620%">
            </div>

            {% endif %}

        </div>


    </div>








    {% endblock %} {% block script_block %}

    <script src="/static/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="/static/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/dff/dff.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="/static/assets/plugins/dropify/dist/js/dropify.min.js"></script>
    <script src="/static/assets/plugins/echarts/echarts-all.js"></script>
    <script type="text/javascript" src="/static/assets/echarts/new/echarts.min.js"></script>
    <script type="text/javascript" src="/static/assets/echarts/new/echarts-gl.min.js"></script>
    <script type="text/javascript" src="/static/assets/echarts/new/ecStat.min.js"></script>
    <script type="text/javascript" src="/static/assets/echarts/new/dataTool.min.js"></script>
    <script type="text/javascript" src="/static/assets/echarts/new/bmap.min.js"></script>


    <script>
        $(document).ready(function() {

            $(".select2").select2();
            $('.selectpicker').selectpicker();
            // Basic
            console.log("Hellooo");
            var data = '{{df2}}';
            var columns = [];
            newjson = JSON.parse(data.replace(/&quot;/g, '"'));
            console.log(newjson);
            var header = '{{header}}'

            headerjson = JSON.parse(header.replace(/&#39;/g, '"'));
            console.log(headerjson);


            console.log(headerjson.length);
            for (i = 0; i < headerjson.length; i++) {
                columns.push({
                    "data": headerjson[i]
                });

            }
            console.log("coloumns", columns);

            //Load  datatable
            var oTblReport = $("#tblReportResultsDemographics")

            oTblReport.DataTable({
                "data": newjson,
                "columns": columns,
            });
        });
    </script>

    <script>
        $("#iv_sel").click(function() {
            console.log("clicked")
            var selection = $("#iv_val").val();
            console.log(selection);
            $.ajax({
                type: 'POST',
                url: '/inputs/',
                data: {
                    sel: selection
                },
                success: function(data) {
                    console.log(data)
                }
            });

        });


        $('#pre-selected-options').multiSelect();
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });
        $('#public-methods').multiSelect();
        $('#select-all').click(function() {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function() {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#refresh').on('click', function() {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function() {
            $('#public-methods').multiSelect('addOption', {
                value: 42,
                text: 'test 42',
                index: 0
            });
            return false;
        });

        $('.dropify').dropify();
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    </script>

    <script>
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var option = null;
        var data_array = "{{importance}}"
        var json = JSON.parse(data_array.replace(/&quot;/g, '"'));
        var values = Object.values(json);
        var keys = Object.keys(json);

        for (var i = 0; i < values.length; i++) {
            values[i] = values[i] * 100;
            values[i] = Math.round(values[i])

        }
        console.log(values)



        option = {
            title: {
                text: 'FEATURE IMPORTANCE',
                subtext: 'Parameters affects the Target Parameter in %'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['2011年', '2012年']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: keys


            },
            series: [{
                name: 'Importance',
                type: 'bar',
                data: values
            }, ]
        };
        myChart.setOption(option, true);
    </script>
    {% endblock script_block %}