.ribbon-warning {
  background: #ffb22b!important;
  border-color: #bee5eb;
      border: 1px solid #ddd;
      border-radius: .25rem;
}
.ribbon-danger {
    background: #fc4b6c!important;
    color:#FFF!important;
    border-color: #bee5eb;
    border: 1px solid #ddd;
    border-radius: .25rem;
}
.ribbon-success {
    background: #26c6da!important;
    border-color: #bee5eb;
    border: 1px solid #ddd;
    border-radius: .25rem;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1!important;
    border-color: #bee5eb;
}
.ribbon-corner:before {
      border: 19px solid transparent;
}
.ribbon-corner {
  padding: 1px 0 0 3px;
}
#p_alarm_table_wrapper .dt-buttons{
  text-align: center;
}
#p_alarm_table_wrapper .dt-buttons .dt-button{
  margin: 5px;
}
.spin-icon i{
  -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 18px;
    left: 18px;
}

#alarm-icon {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
  }
body {
  top: 0px !important;
  }

::-webkit-scrollbar {
display:none;
}
@font-face {
   font-family: rounded;
  src: url('/static/fonts/rounded.ttf');
            }
@font-face {
   font-family: anascript;
  src: url('/static/fonts/anascript.ttf');
            }
  #tspan4289{
    font-family: anascript !important;
  }

  #tspan855 {
    font-family:  rounded !important;
  }
  /* @media screen and (max-width: 1166px) {
   #logo-dark {
       display:block;
   }
} */
	/* bhartesh */
	.card.mb-sm-3.mb-md-0.contacts_card {
		padding: 30px;
    border: unset;
    border-radius: unset;
}
.search::placeholder{
	color:#fff;
}
.input-group.sh-width {
    width: 40%;
    height: 47px;
    float: right;
    position: relative;
    bottom: 13px;
}
.row.srch-bar {
    border-bottom: 1px solid #eee;
}
.search:focus {
    background: #3488e5;
}
	/*bhartesh */
		.chat{
			margin-top: auto;
			margin-bottom: auto;
		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
			border-top: 0 !important;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 5px;
    background-color: #1e88e5;
    border: 0 !important;
    padding: 0 25px;
  color: #fff !important;
  z-index: 0 !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
    }
    span.input-group-text.search_btn.topbar {
      z-index: 0;
  }
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: unset !important;
    background-color: #3488e5;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
    border-left: 1px solid #fff !important;
    padding: 0 30px;
		}
		.contacts{
			list-style: none;
    padding: 0;
    display: inline-block;
    width: 100%;
    margin-top: 40px;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.user_img{
			height: 100px;
    width: 100px;
    border: 1.5px solid #f5f6fa;
		
		}
		.user_img {
		    height: 100px;
    width: 100px;
    border: 8px solid #4f98ea;
    border-left: 8px solid #ffd400;
    border-right: 8px solid #eeeeeef0;
}
		.img_cont {
			position: absolute;
			width: 100px;
			margin: -11px 0 0 -50px;
}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 12px;
    right: 10px;
    border: 1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: 5px;
    margin-bottom: auto;
    margin-left: 60px;
    width: 100%;
	}
	.user_info span{
		font-size: 16px;
    color: white;
    font-weight: bold;
	}
	.user_info p{
		font-size: 14px;
    color: #fff;
    font-style: italic;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90px !important;
    overflow: hidden;
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}
	.disabled{
		pointer-events: none;
		cursor: none;
	}
	.active{
		border-radius: 36px;
	}
.mini-sidebar ul.contacts li {
  width: 15%!important;
  float: left;
  margin-bottom: 40px!important;
  height: 90px;
  border-radius: 4px;
  margin: 0 40px;
  position: relative !important;
	z-index: 0;
}
ul.contacts li {
	width: 26% !important;
    float: left;
    margin-bottom: 60px !important;
    height: 110px;
    border-radius: 4px;
    margin: 0 60px 0 40px;
    position: unset !important;
    z-index: 0;
}
b.nxt.mdi.mdi-arrow-right {
	display: block;
	float: right;
	margin-top: -14px;
	background: #fad402;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	left: 10px;
	padding: 6px 3px 0px 8px;
	border-top-left-radius: 40px;
}
.dt-chat span.input-group-text.attach_btn {
	border-radius: unset !important;
	padding: 0 20px;
	border-right: 1px solid #eee !important;
	box-shadow:unset;
	z-index:0;
}
.dt-chat button.input-group-text.send_btn {
	border-radius: unset !important;
	padding: 0 30px;
	border-left: 1px solid #eee !important;
	box-shadow:unset;
	z-index:0;

}
footer.footer.topbar {
	height: 40px !important;
}
.page-titles {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #0000007a;
	margin-bottom: 0;
	padding-bottom: 8px;
	padding-top: 8px;
}
@media only screen and (max-width:767px){
	.page-titles {
    display: none;
}
ul.navbar-nav.mr-auto.mt-md-0 li img {
	transform: translate(-122%, -50%) !IMPORTANT;
	width: 21% !important;
}
}
footer marquee {
	top: 30% !important;
}
